:root {
  --blue: #0056b3;
  --white: #ffffff;
  --gray: rgba(255, 255, 255, 1);
  --dark: #333;
}


.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: url('../back.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* general styling to be applied to all pages... */


/**
dashboard.js
*/
/* search bar */
.nav-wrapper {
  position: absolute;
  top: 100px;
  left: 200px;
  width: auto;
  z-index: 1001;
}

#search {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: smaller;
  background-color: var(--gray);
  color: var(--blue);
}

#search:hover{

}

/*we need to consolidate into a single css file - i am starting to use this App.css */
.grades-container {
  max-width: 600px;
  /* Set maximum width to limit content width */
  margin: 0 auto;
  /* Center the container horizontally */
  padding: 20px;
  /* Add some padding for spacing */
}

.grades-container h1 {
  font-size: 24px;
  /* Set font size for the heading */
  margin-bottom: 20px;
  /* Add margin below the heading */
}

.grades-container ul {
  list-style: none;
  /* Remove default list styles */
  padding: 0;
  /* Remove default padding */
}

.grades-container li {
  margin-bottom: 10px;
  /* Add margin between list items */
}

.grades-container li span {
  margin-right: 10px;
  /* Add margin between spans */
}


/*
  top nav bar css */
/* navbar */
#logout {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: none;
  color: var(--dark);
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1em;
  margin-left: 10px;
  font-weight: bold;
}

#logout:hover {
  text-decoration: none;
  color: white;
}

.container button {
  padding: 5px 8px;
  color: white;
  background-color: var(--blue);
}

.container button:hover {
  background-color: white;
  color: var(--blue);
}

header {
  background: rgb(173, 173, 173);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

header a {
  color: var(--dark);
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

.links {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 10px 10px;
  color: var(--dark);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1em;
  margin-left: 10px;
  font-weight: bold;
}

.links a:hover {
  color: #fff;

}

