.App {
    background-image: url('D:\FullStack\Project\my-react-app\src\back.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  