.login-container {
    background-color: rgba(62, 57, 57, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position:absolute;
    left:100px;
    top: 50px;
    
  }
  
  input {
    background-color: rgba(113, 102, 102, 0.5);
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 0.01px solid #373535;
    color: #EAEAEA;
  }
  
  button {
    padding: 10px 10px;
    background-color: #4e2c10;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 7px;
    margin-right: 7px; /* Ensure spacing on the right */
    margin-bottom: 2px;
  }
  
  button:hover {
    background-color: #362312;
  }
  
  .social-login button {
    margin-top: 10px;
    margin-right: 10px;
  }
  