.register-page {
    background-color: rgba(62, 57, 57, 0.5);
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  .register-page input {
    background-color: rgba(113, 102, 102, 0.5);
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 0.01px solid #353537;
    color: #EAEAEA;
  }
  
  
  .register-page button {
    padding: 10px 10px;
    background-color: #1e548a;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 7px;
    margin-right: 7px; /* Ensure spacing on the right */
    margin-bottom: 2px;
  }
  
  .register-page button:hover {
    background-color: #362312;
  }
  
  .register-page {
    color: #fff;
  }

  .register-page h1{
    font-size: medium;
  }