.user-details-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .user-details-show {
    display: block;
  }
  
  .user-details-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .user-details-modal-popup {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .user-details-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-details-modal-header h5 {
    margin: 0;
  }
  
  .user-details-close-button {
    cursor: pointer;
    font-size: 24px;
  }
  
  .user-details-modal-content {
    margin-bottom: 20px;
  }
  
  .user-details-modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  
  .user-details-modal-content {
    margin-bottom: 20px;
  }
  
  .user-details-modal-content h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .user-details-modal-content ul {
    list-style: none;
    padding: 0;
  }
  
  .user-details-modal-content li {
    margin-bottom: 10px;
  }
  
  .user-details-modal-content p {
    margin: 0;
  }
  
  .user-details-modal-content em {
    color: #888; /* Adjust color for "Not submitted" text */
  }